<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-screen-guard"
        version="1.1.0">

    <name>ScreenGuard</name>
    <description>Blocks screenshots on Android, detects capture on iOS</description>

    <js-module src="www/ScreenGuard.js" name="ScreenGuard">
        <clobbers target="ScreenGuard" />
    </js-module>

    <platform name="android">
        <source-file src="src/android/ScreenGuard.java"
                     target-dir="src/cordova/plugin/screenguard" />
    </platform>

    <platform name="ios">
        <source-file src="src/ios/ScreenGuard.swift" />
    </platform>

</plugin>
