<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-screen-guard"
        version="1.0.0">

    <name>Screen Guard</name>
    <description>Detect screenshot & screen recording on iOS</description>

    <js-module src="www/screenguard.js" name="ScreenGuard">
        <clobbers target="ScreenGuard" />
    </js-module>

    <platform name="ios">
        <source-file src="src/ios/ScreenGuard.m" />
    </platform>

</plugin>
